div#btn-container {
    width: 100%;
    height: calc(var(--button-size) / 2);
    margin-top: 10vmin;
}

div.btn {
    width: var(--button-size);
    float: left;
    cursor: pointer;
}

div.btn img{
    width: var(--button-size);
}