@import url("../../App.css");

div#footer {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 20px;
    text-align: center;
}

div.copyright {
    color: gray;
    font-size: 10px;
    font-family: "happytime";
}

div#div-icon-carrier {
    margin-top: 5px;
}

img#github-logo {
    cursor: pointer;
}