:root {
    --main-color: #E64548
  }

div#clock-red {
    background-color: var(--main-color);
    position: absolute;
    width: var(--clock-size);
    height: var(--clock-size);
    border-radius: calc(var(--clock-size) / 2);
}