@import url("../../App.css");

div#clock-red {
  width: var(--clock-size);
  height: var(--clock-size);
  position: absolute;
  background-color: var(--main-color);
  border-radius: calc(var(--clock-size) / 2);
}