@import url("../../App.css");

:root {
  --shadow: calc(var(--clock-size) / 4)
}

div.clock-red {
  width: var(--clock-size);
  height: var(--clock-size);
  position: absolute;

}

img.clock-red {
  width: var(--clock-size);
  height: var(--clock-size);
  position: absolute;
}